<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Web Architecture: Project 1</title>
    <link rel="stylesheet" href="/static/css/style.css">
<!--     <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script> -->

    <style>
        td {
            width: 25%;
            height: 25%;
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="container">

        <h1 class="">URL Shortener Project 2</h1>


        <table>
            <tr>
                <td>Food</td>
                <td>GIFs</td>
                <td>Music</td>
            </tr>
            <tr>
                <td>Pets</td>
                <td>Quotes</td>
                <td>Random</td>
            </tr>
        </table>


        <form action="form.html">
          <label for="food">Food</label>
          <input type="radio" name="option" id="food" value="food"><br>
          <label for="gifs">GIFs</label>
          <input type="radio" name="option" id="gifs" value="gifs"><br>
          <label for="music">Music</label>
          <input type="radio" name="option" id="music" value="music"><br>
          <label for="pets">Pets</label>
          <input type="radio" name="option" id="pets" value="pets"><br>

          <input type="submit" value="Submit">
        </form>







    </div>


</body>

</html>